<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <img src="/images/gallery/logo_photo.png" alt="Casa Tixtla Logo" class="navbar-logo me-2">
            POZOLERÍA CASA TIXTLA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link {{#if isHome}}active{{/if}}" href="/">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if isMenu}}active{{/if}}" href="/menu">MENÚ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if isAbout}}active{{/if}}" href="/nosotros">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if isContact}}active{{/if}}" href="/contacto">CONTACTO</a>
                </li>
            </ul>
            
            <!-- Social Media Icons -->
            <div class="social-icons d-none d-lg-flex">
                <a href="https://www.facebook.com/restaurantecasatixtla" class="text-dark me-2" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/restaurantecasatixtla/#" class="text-dark me-2" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@restaurantecasatixtla" class="text-dark" title="TikTok"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
    </div>
</nav>